<div class="card m-3">
  <h5 class="card-header">Image Demo</h5>
  <div class="card-body">
      <form [formGroup]="ImageForm" (ngSubmit)="onSubmit()">
          <div class="form-row">
             
              <div class="form-group col">
                  <label>Gallery Name</label>
                  <input type="text" formControlName="galleryName" class="form-control" 
                  placeholder="Enter Gallery Name"
                  />
                  <div class="invalid-feedback" style="display: block">
                    <ng-container *ngIf="hasError('galleryName', 'required')">Gallery Name is required</ng-container>
                  </div>
              </div>
              <div class="form-group col">
                  <label>Gallery Group</label>
                  <input type="text" formControlName="galleryGroup" class="form-control" 
                  placeholder="Enter Gallery Group"
                  />
                  <div class="invalid-feedback" style="display: block">
                    <ng-container *ngIf="hasError('galleryGroup', 'required')">Gallery Group is required</ng-container>
                  </div>
              </div>
              <div class="form-group col">
                  <label>Title</label>
                  <input type="text" formControlName="title" class="form-control" 
                  placeholder="Enter Title"
                  />
                  <div class="invalid-feedback" style="display: block">
                    <ng-container *ngIf="hasError('title', 'required')">Url is required</ng-container>
                  </div>
              </div>
              <div class="form-group col">
                  <label>Url</label>
                  <input type="text" formControlName="url" class="form-control" 
                  placeholder="Enter Url"
                  />
                  <div class="invalid-feedback" style="display: block">
                    <ng-container *ngIf="hasError('url', 'required')">Url is required</ng-container>
                  </div>
              </div>
          </div>
          
          <div class="form-group">
              <label>gallery Image</label>
            <app-file-upload formControlName="image" [progress]="progress" accept="image/*"></app-file-upload>
            <div class="invalid-feedback" style="display: block">
              <ng-container *ngIf="hasError('image', 'required')">Image is required</ng-container>
              <ng-container *ngIf="hasError('image', 'requiredFileType')">Only Image </ng-container>
            </div>
          </div>
          <div class="form-row">
              <div class="form-group col">
                  <label>Thumbnail Width</label>
                  <input type="text" formControlName="width" class="form-control" 
                  placeholder="Enter image thumbnail width" />
                  <div class="invalid-feedback" style="display: block">
                    <ng-container *ngIf="hasError('width', 'required')">Thumbnail Width is required</ng-container>
                  </div>
              </div>
              <div class="form-group col">
                  <label>Thumbnail height</label>
                  <input type="text" formControlName="height" class="form-control" placeholder="Enter image thumbnail height" />
                  <div class="invalid-feedback" style="display: block">
                    <ng-container *ngIf="hasError('height', 'required')">Thumbnail height is required</ng-container>
                  </div>
              </div>

          </div>
          <div class="form-row">
              <div class="form-group col">
                  <label>Caption</label>
                  <input type="text" formControlName="caption" class="form-control" placeholder="Enter caption" />
                  <div class="invalid-feedback" style="display: block">
                    <ng-container *ngIf="hasError('caption', 'required')">Caption is required</ng-container>
                  </div>
              </div>
              <div class="form-group col">
                  <label>Alt Text</label>
                  <input type="text" formControlName="altText" class="form-control" placeholder="Enter alt text"/>
                  <div class="invalid-feedback" style="display: block">
                    <ng-container *ngIf="hasError('altText', 'required')">Alt Text is required</ng-container>
                  </div>
              </div>
              <div class="form-group col">
                  <label>Uploaded By</label>
                  <input type="text" formControlName="uploadedBy" class="form-control" placeholder="Enter uploaded by"/>
                  <div class="invalid-feedback" style="display: block">
                    <ng-container *ngIf="hasError('uploadedBy', 'required')">Uploaded By is required</ng-container>
                  </div>
              </div>
          </div>
          
          <div class="form-group">
              <label>Description</label>
              <input type="text" formControlName="description" class="form-control" placeholder="Enter description"/>
              <div class="invalid-feedback" style="display: block">
                <ng-container *ngIf="hasError('description', 'required')">Description is required</ng-container>
              </div>
          </div>
          <div class="text-center">
              <button class="btn btn-primary mr-1">Submit</button>
          </div>
      </form>
  </div>
</div>